.header {
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
}

/* Точка перелома между 320 и 1280 */
@media screen and (max-width: 740px) {
  .header {
    max-width: 320px;
    margin-top: 28px;
  }
}
